{% load stats_extras %}
<table class="table table-sm">
    <thead>
      <tr class="text-align-center text-center">
        <th class="text-start">Name</th>
        <th>Goals</th>
        <th>MVP</th>
        <th>Clutch</th>
      </tr>
    </thead>
      {% for player in fixture.players_stats.all %}
        {% if player.team.side_name == team %}
          <tbody>
            <tr class="text-center">
              <td class="w-24 text-start">{{player.player}}</td>
              <td class="w-14 text">{{player.goals_scored}}</td>
              <td class="w-14">
                {{ player.mvp|yesno:"Yes,No"}}
              </td>
              <td class="w-14">
                  {% if winner_team == team and difference_goals > 1 and player.goals_scored >= difference_goals %}
                    Yes
                  {% else %}
                    No
                  {% endif %}
                </td>
            </tr>
          </tbody>
        {% endif %}
      {% endfor %}

  </table>