{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% block title %} 
    {% endblock %}
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.6.0/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="{% static 'js/htmx.min.js' %}"></script>

    <script src="https://cdn.tailwindcss.com/3.4.1"></script>

  </head>
  <body>
      {% block content %} 
      {% endblock %}
  </body>

</html>