{% extends 'stats/base.html' %} 
{% block content %}

  <div class="flex flex-col items-center">
    

    <div
      id="menu"
      class="menu mt-6 menu-horizontal text-lg flex flex-row align-middle justify-center gap-6 bg-base-200 rounded-box h-fit w-full"
      hx-boost="true"
    >
      <li><a href="{%url 'ranking' %}">Ranking Table</a></li>
      <li><a href="{%url 'graph' %}">Ranking Graph</a></li>
      <li><a href="{%url 'fixtures' %}">Fixtures List</a></li>     
    </div>



    <div id='content' class="flex justify-center px-8 h-5/6 order-last max-w-4xl">
      {% if 'graph' in request.path %}
          {% include 'partials/ranking_graph.html' %}
      {% elif 'ranking' in request.path %}
          {% include 'partials/ranking_table.html' %}
      {% elif 'fixture' in request.path %}
          {% include 'partials/fixtures_list.html' %}
      {% endif %}
    </div>


    <div class="flex flex-row my-6 gap-8 justify-around">
      
      <form
        class="form-control flex flex-row justify-between gap-8"
        hx-include="this"
        hx-trigger="change, load from:input"
        hx-target="#content"
        {% if 'ranking' in request.path %}
          hx-get="{% url 'ranking_table' %}"
        {% elif 'graph' in request.path %}
          hx-get="{% url 'graph_positions' %}"
        {% elif 'fixture' in request.path %}
          hx-get="{% url 'fixtures_list' %}"
        {% endif %}
      >
        
        <!-- Season selection filter -->
        <div class="flex items-center gap-2">
          <span class="text text-lg">Season</span>
          <select class="select select-sm select-bordered bg-neutral rounded-xl w-fit" name="filter_season">
            {% for season in seasons.all %}
            <option value="{{season.pk}}">{{ season.year }}</option>
            {% endfor %}
            <option value="all_seasons">All seasons</option>
          </select>
        </div>

        <!-- Over 50% attendace filter -->
        {% if 'fixture' in request.path %}
        {% else %}
          <div class="flex align-middle w-44">
            <label class="label cursor-pointer">
              <span class="label-text">Only players with 50% attendance</span>
              <input type="checkbox" class="toggle" name="filter_attendance" unchecked />
            </label>
          </div>
        {% endif %}
        
      </form>

      {% if 'fixture' in request.path %}
      <div class="flex order-last items-center justify-center">
        <a role='button' class="btn btn-success" hx-boost=True href="{% url 'fixture_add' %}">
            + Add fixture
        </a>
      </div>
    {% endif %}

    </div>
  
  </div> 
{% endblock %}
