{% extends 'base.html' %} 

{% block title %}
    <title>Sábado Sem Lei</title>
{% endblock %}

{% block content %}

  <div class="flex flex-col items-center">
    
    <div
      id="menu"
      class="menu mt-6 menu-horizontal text-lg flex flex-row align-middle justify-center gap-6 bg-base-200 rounded-box h-fit w-full"
      hx-boost="true"
    >
        <li>Home</li>
        <li>Ranking Table</li>
        <li>Ranking Graph</li>
        <li>Fixtures List</li>     
    </div>



    <div id='content' class="flex justify-center px-8 h-5/6 order-last max-w-4xl">
    </div>


    <div class="flex flex-row my-6 gap-8 justify-around">
      
      <form class="form-control flex flex-row justify-between gap-8">
        
        <!-- Season selection filter -->
        <div class="flex items-center gap-2">
          <span class="text text-lg">Season</span>
          <select class="select select-sm select-bordered bg-neutral rounded-xl w-fit" name="filter_season">

            <option value=""></option>

            <option value="all_seasons">All seasons</option>
          </select>
        </div>

        <!-- Over 50% attendace filter -->
          <div class="flex align-middle w-44">
            <label class="label cursor-pointer">
              <span class="label-text">Only players with 50% attendance</span>
              <input type="checkbox" class="toggle" name="filter_attendance" unchecked />
            </label>
          </div>
        
      </form>
      <div class="flex order-last items-center justify-center">
        <a role='button' class="btn btn-success">
            + Add fixture
        </a>
      </div>

    </div>
  
  </div> 
{% endblock %}
